* {
    box-sizing: border-box;
    font-family: 'times new roman';
}
.container-nav>.row {
    background-color: rgb(129, 216, 208);  
    width: 100%;
    margin: auto;
}
.container-nav {
    width: 95%;
    /* background-color: rgb(129, 216, 208);   */
    margin: auto;
    margin-top: 20px;
} 






