* {
    box-sizing: border-box;
    font-family: 'times new roman';
}

.container-nav>.row {
    background-color: rgb(129, 216, 208);
    width: 100%;
    margin: auto;
}

.container-nav {
    width: 95%;
    /* background-color: rgb(129, 216, 208);   */
    margin: auto;
    margin-top: 20px;
}

.content-s {
    width: 95%;
    height: 100%;
    margin: auto;
    background-color: rgb(251, 251, 251);
}

.content-cus {
    width: 95%;
    margin: auto;
    background-color: rgb(251, 251, 251);
}

.content-banner {
    width: 95%;
    margin: auto;
}

.content-footer {
    width: 95%;
    margin: auto;
    background-color: rgb(129, 216, 208);
}

iframe {
    /* width="560" height="315"  */
    width: 100%;
    height: 60vh;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
}

.card {
    width: 400px;
    margin: auto;
    justify-content:space-between;
    align-items: center;
}
.content-video {
    width: 95%;
    margin: auto;
}